S3method(print,bifactor)
S3method(summary,bifactor)
S3method(print,efa)
S3method(summary,efa)
export(asymp_cov)
export(bifactor)
export(cfast)
export(check_deriv)
export(efast)
export(fit)
export(fscores)
export(get_target)
export(parallel)
export(polyfast)
export(random_oblq)
export(random_orth)
export(random_poblq)
export(retr_oblq)
export(retr_orth)
export(retr_poblq)
export(rotate)
export(se)
export(sim_factor)
export(sl)
importFrom(Rcpp, sourceCpp)
useDynLib(bifactor, .registration = TRUE)
